@import "tailwindcss";

@theme {
    --font-logo: "Bitcount Grid Double", system-ui; 
    --font-hero: "Bebas Neue", sans-serif;
}
html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 75px;
}